# CISC-352-AI-Project-Planning
BY:
Nicole Hernandez- Student ID: 20329562 -  School Email: 21nhm5@queensu.ca
Dylan Letts - Student ID: 20323382 - School Email: 21djl11@queensu.ca


#Getting Started
##1.Installation process:The PDDL extension for VScode was installed through the VScode extensions marketplace. It was used to program and run the files
##2.Software dependencies: The grid_domain.pddl and planning.pddl are both needed to run 
##3.Latest releases:N/A
##4.API references: N/A

#Build and Test
Using LAMA-first to run the planning.pddl as all others do not work

To test, change the goal in planning.pddl so that each row and col has the fill# as its key. If it is invalid keys, then no plan will be found
 for example:
        (is col0 fill0)
        (is col1 fill3)
        (is col2 fill3)
        (is col3 fill3)
        (is col4 fill0)

        (is row0 fill0)
        (is row1 fill3)
        (is row2 fill3)
        (is row3 fill3)
        (is row4 fill0)
corrisponds to 
00000
0###0
0###0
0###0
00000

#Contribute
Nicole Hernandez and Dylan Letts code the project together. The way we coded was often to 
discuss how we wanted to implement features together- brainstorming logic faster. Then we 
took turns coding on the same computer so we both understood the code and could help each 
other ensure correctness. 